<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício Flask</title>
</head>
<body>
    <main>
        <form method="POST">
            <label for="autor">Autor</label>
            <input type="text" name="autor" id="autor">

            <label for="mensagem">Recado</label>
            <textarea id="mensagem" name="mensagem"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </main>
</body>
</html>